<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<br />
<div id="adminmenu" class="menu" th:fragment="adminmenu">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>Edit</li>
                    <li><a th:href="@{~/menu}">Menu</a></li>
                    <li><a th:href="@{~/pages}">Pages</a></li>
                    <li><a th:href="@{~/posts}">Posts</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>