<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" lang="en"/>
<body>
<div id="mainContainer" class="flexBoxContainer">
	<div th:replace="fragments/adminmenu :: adminmenu"></div>
	<div th:replace="fragments/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1 th:text="'Total Pages : ' + ${pagecount}">Pages</h1>
					<table class="table table-striped table-hover">
						<thead>
						<tr>
							<th>Page</th>
							<th>Short Name</th>
							<th>Delete</th>
						</tr>
						</thead>
						<tbody>

						<tr th:each="page : ${pages}">
							<td th:id="${page.id}" th:inline="text"><a class="edit-page" th:href="@{/pages/{id}(id=${page.shortName})}">[[${page.name}]]</a></td>
							<td th:id="${page.id}" th:inline="text">[[${page.shortName}]]</td>
							<td th:id="${page.id}"><a class="btn btn-danger delete-page">Delete</a></td>
						</tr>
						
						<tr>
							<td></td>
							<td></td>
							<td>
								<a class="btn btn-primary new-page" th:href="@{/pages(new=true)}">New</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</div>
<!-- <script th:src="@{~/script/member.js}" type="application/javascript"></script> -->

</body>
</html>
